.see-also__text-area {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  row-gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.see-also__text-area:hover ~ .see-also__overlay {
  opacity: 0.2;
}
@media screen and (max-width: 520px) {
    .see-also__text-area {
        row-gap: 16px;
      }
}
@media screen and (max-width: 400px) {
    .see-also__text-area {
        width: calc(100% - 32px);
      }
}