.gallery {
  margin: 0;
  padding: 0 48px 0 48px;
}
@media screen and (max-width: 850px) {
    .gallery {
        padding-left: 24px;
        padding-right: 24px;
      }
}
@media screen and (max-width: 420px) {
    .gallery {
        padding-left: 16px;
        padding-right: 16px;
      }
}