.lead {
  margin: 0;
  padding: 0 148px 92px 148px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
@media screen and (max-width: 1100px) {
    .lead {
        padding-left: 48px;
        padding-right: 48px;
      }
}
@media screen and (max-width: 850px) {
    .lead {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 88px;
      }
}
@media screen and (max-width: 720px) {
    .lead {
        padding-bottom: 64px;
      }
}