.intro {
  margin: 0;
  padding: 0 148px 92px 148px;
  max-width: 690px;

  -ms-flex-item-align: start;

      align-self: flex-start;
}
@media screen and (max-width: 1100px) {
    .intro {
        padding-left: 48px;
        padding-right: 48px;
      }
}
@media screen and (max-width: 850px) {
    .intro {
        max-width: initial;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 88px;
      }
}
@media screen and (max-width: 720px) {
    .intro {
        padding-bottom: 64px;
      }
}
@media screen and (max-width: 420px) {
    .intro {
        padding-left: 16px;
        padding-right: 16px;
      }
}