.lead__facts {
  list-style: none;

  max-width: 690px;
  margin: 33px 0 0 0;
  padding: 0;

  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
@media screen and (max-width: 850px) {
    .lead__facts {
        max-width: initial;
        margin-left: 24px;
        margin-right: 24px;
      }
}
@media screen and (max-width: 420px) {
    .lead__facts {
        margin-left: 16px;
        margin-right: 16px;
      }
}