.see-also__overlay {
  position: relative;
  z-index: 1;

  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  padding-top: 62.5%; /* (img-height / img-width * container-width) */

  opacity: 0.7;

  -webkit-transition-property: opacity;

  -o-transition-property: opacity;

  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
.see-also__overlay:hover {
  opacity: 0.2;
}
