.lead__caption {
  text-transform: uppercase;
  margin: 8px 0 0 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 850px) {
    .lead__caption {
        margin-left: 24px;
      }
}
@media screen and (max-width: 400px) {
    .lead__caption {
        margin-left: 16px;
      }
}